@tailwind base;
@tailwind components;
@tailwind utilities;

.background-waves {
    background: url(../images/waves.png) no-repeat center center fixed;
    background-size: cover;
}

.w-container {
    max-width: 50%;
}

.h-container {
    min-height: 80%;
}

.custom-shape-divider-top-1678739135 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1678739135 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1678739135 .shape-fill {
    fill: #ff0000;
}

@media screen and (max-width: 480px) {
    footer {
        display: none;
    }
}

@media not all and (min-width: 1024px) {
    .backdrop_blur {
        backdrop-filter: blur(10px);
    }

    .navlink {
        margin-left: -100%;
    }

    .navlink.mobile-menu {
        margin-left: 0;
    }

    .transition-menu {
        transition: all 0.5s ease-in-out;
    }
}

